<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Bilecik</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  	<servlet-name>MainServlet</servlet-name>
  	<servlet-class>pl.jax.sawik.bilecik.servlets.MainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>MainServlet</servlet-name>
  	<url-pattern>/MainServlet</url-pattern>
  </servlet-mapping>
  
  <listener>
  	<listener-class>pl.jax.sawik.bilecik.servlets.ContextListener</listener-class>
  </listener>
  
  <context-param>
  	<param-name>DB_USER</param-name>
  	<param-value>bilecik</param-value>
  </context-param>
  
  <context-param>
  	<param-name>DB_PASS</param-name>
  	<param-value>bilecik</param-value>
  </context-param>
  
  <context-param>
  	<param-name>DB_NAME</param-name>
  	<param-value>bilecik</param-value>
  </context-param>
  
  <context-param>
  	<param-name>DB_ADDRESS</param-name>
  	<param-value>jdbc:postgresql://192.168.0.4:5432/</param-value>
  </context-param>
  
  <context-param>
  	<param-name>POOL_CONNECTION_SIZE</param-name>
  	<param-value>30</param-value>
  </context-param>
  
</web-app>